<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986079514042-54n8fefjlif0j51i1h54hctjqacbde51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986079514042-54n8fefjlif0j51i1h54hctjqacbde51</string>
	<key>API_KEY</key>
	<string>AIzaSyDWQO2SGBZveLbVARIn4vflFXMuTLbsnqI</string>
	<key>GCM_SENDER_ID</key>
	<string>986079514042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tda257.beos</string>
	<key>PROJECT_ID</key>
	<string>beos-tda257</string>
	<key>STORAGE_BUCKET</key>
	<string>beos-tda257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986079514042:ios:b9e7a8f140c54a7980e183</string>
</dict>
</plist>